<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Ini Halaman Luas</title>
</head>
<body>
<h1>Luas: <span th:text="${title}"></span></h1>


    <table>
        <tr>
            <td>Panjang</td>
            <td>:</td>
            <td><span th:text="${luasBangun.panjang}"> </span></td>
        </tr>
        <tr>
            <td>Lebar</td>
            <td>:</td>
            <td><span th:text="${luasBangun.lebar}"> </span></td>
        </tr>
        <tr>
            <td>Hasil</td>
            <td>:</td>
            <td><span th:text="${luasBangun.hitungluas()}"></span></td>
        </tr>
    </table>

</body>
</html>