<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Book</h1>
<p><a th:href="@{customer/create}" style="text-underline: none;">Add customer</a></p>
<fieldset>
    <table>
        <thead>
        <th>Nama Customer</th>
        <th>Tanggal Lahir</th>
        <th>Created </th>
        <th> Updated</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr th:each="Customer : ${cs}">
            <td><span th:text="${Customer.getNamacustomer()}"></span></td>
            <td><span th:text="${Customer.getTanggalLahir()}"></span></td>
            <td><span th:text="${Customer.getCreatedAt()}"></span></td>
            <td><span th:text="${Customer.getUpdatedAt()}"></span></td>

            <td>
                <a th:href="@{/customer/edit/{id}(id=${Customer.id})}">Edit</a>
                <a th:href="@{/customer/delete/{id}(id=${Customer.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>

</body>
</html>