<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Book</h1>
    <p><a th:href="@{book/create}" style="text-underline: none;">Add Books</a></p>
    <fieldset>
        <table>
            <thead>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr th:each="Book : ${Books}">
                    <td><span th:text="${Book.getBookName()}"></span></td>
                    <td><span th:text="${Book.getBookAuthor()}"></span></td>
                    <td>
                        <a th:href="@{/book/edit/{id}(id=${Book.id})}">Edit</a>
                        <a th:href="@{/book/delete/{id}(id=${Book.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>

</body>
</html>